In [9]:
import pandas as pd
import numpy as np

df=pd.DataFrame(
    np.random.rand(12,5),
    columns =('attribute %d '%i for i in range (5))
)
df

    attribute 0   attribute 1   attribute 2   attribute 3   attribute 4
0       0.612330      0.212433      0.747428      0.627779      0.510982
1       0.691851      0.490836      0.114142      0.761823      0.231249
2       0.420966      0.349865      0.589147      0.068699      0.249778
3       0.273226      0.472543      0.740912      0.468867      0.238151
4       0.312891      0.712137      0.194373      0.270634      0.936832
5       0.797153      0.620601      0.123050      0.952172      0.304561
6       0.265403      0.144166      0.483775      0.281813      0.548228
7       0.320227      0.159684      0.687147      0.055265      0.114408
8       0.506126      0.227981      0.442141      0.980677      0.040668
9       0.562283      0.811345      0.245060      0.799316      0.927033
10      0.009394      0.188267      0.738766      0.343685      0.421916
11      0.448727      0.808882      0.896417      0.992977      0.167208